{% extends 'base.html' %}

{% block content %}

  <section class="section">
    <div class="container">
        <h1 class="title">
            {{ title }}
        </h1>
        {% for text in texts %}
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>{{text['Source']}}</strong> <small>{{text['Date']}}</small>
                        <br>
                        {{text['Text']}}
                    </p>
                </div>
                
              </div>
            </article>
        </div>
        {% endfor %}
    </div>
  </section>

{% endblock %}
