{% extends 'base.html' %}

{% block content %}

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <tr>
                  
                      <div class="columns p-3 pt-6 is-vcentered">
                        <div class="column is-narrow">
                          Paste a link:
                        </div>
                        <div class="column">
                          <div class="control">
                              <input class="input" type="text" placeholder="https://">
                          </div>
                        </div>
                      </div>
                    
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>

                    <div class="control">
                        <textarea class="textarea has-fixed-size" placeholder="Type something" rows="20"></textarea>
                        <button class="button is-danger" style="position: absolute; bottom: 3px; right: 3px;">FACT-CHECK</button>
                    </div>
                
                </td>
                <td>
                    <div class="control">
                        <textarea class="textarea has-fixed-size" placeholder="Check results" rows="20"></textarea>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>

{% endblock %}